.swiper-slide {
    padding: '72px 1px 69px 19px';
    height: unset;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: unset;
    bottom: 21px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 6px;
    opacity: 1;
    background-color: #D8D8D8;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #5C3CAF;
}

.player-swipper .swiper-slide {
    padding: '72px 1px 69px 19px';
    height: unset;
}

.player-swipper .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 21px;
}